@import url('https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Marvel', sans-serif;
}

body{
    background-color: #003049;
    margin: 0;
    padding: 0;
}
.container{
    width: 70%;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.titulo{
    /* width: 10%; */  
    margin: auto; 
    height: 10vh;
    display: flex;
    align-items:center;
    justify-content: space-between;
}
svg {
    height: 100%;
    padding: 0.25em;
}

.cajaImagen{
    width: 25%;
    padding: 0.25em;
    height: 30vh;
    position: relative;
    cursor: pointer;
}

.cajaNombre {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #003049;
    width: auto;
    height: auto;
    margin: 0.25em;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: .33s ease;
    
}
.cajaNombre:hover{
    opacity:1;
}

.nombreHeroe {
    color: white;
    font-size: 2em;
}


img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.inp{
    transition: all 0.3s ease;
    height: auto;
}

input[type=text]{
    font-size: 1rem;
    padding: .5em;
    color: white;
    background-color: #1D3557;
    border: 1px solid cadetblue;
    border-radius: 0.3em;
    display: block;
    
  }
  input[type=text]:focus{
    border: 1px solid rgb(150, 190, 207);
    box-shadow:none ;
    outline: none;
    width: 50%;
  }

  input[type=text]::placeholder{
      color: beige;
  }

  .oculta{
      height: 0;
      opacity: 0;
  }

  .btnTit {
    border: none;
    font-family: inherit;
    font-size: 1.5em;
    line-height: inherit;
    background: none;
    cursor: pointer;
    padding: .375rem .75rem;
    /* border: 1px solid cadetblue;
    border-radius: .25rem; */
    color: cadetblue;
    transition: color .15s ease-in-out,
    background-color .15s ease-in-out;
    margin: 0.5em;
    
}

.btnTit:hover {
    color: white;
    /* background-color: cadetblue; */
}

nav{
    margin-top: .5em;
    display: flex;
    justify-content: space-around;
    transition: all 0.3s ease;
    
}

.btnNav{
    width: 33%;
    padding: 0.5em;
    border: none;
    font-family: inherit;
    font-size: 1.2em;
    line-height: inherit;
    background: none;
    cursor: pointer;
    color: #1D3557;
    background-color:cadetblue;
    letter-spacing: 0.1em;
    font-weight: 700;
    z-index: 10;
}

@media only screen and (max-width: 1200px) {
    .container {
      width: 100%;
    }

    .cajaImagen {
        width: 33%;
    }
  }

@media only screen and (max-width: 600px) {
    .container {
      width: 100%;
    }

    .titulo{
        height: 7vh;
    }

    .cajaImagen {
        width: 50%;
    }

    .cajaNombre {
        position: absolute;
        top: auto;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;
        background-color: rgba(0, 0, 0,0.75);
        width: auto;
        /* height: fit-content; */
        text-align: center;
        margin: 0.25em;
        opacity: 1;
        
    }
    
    .nombreHeroe {
        color: white;
        font-size: 1em;
    }

    input[type="text"]{
        margin-left: 0.5em;
    }

    .btnNav{
        padding: 0.3em;
    }

  }

  @media (orientation:landscape) and (max-width: 900px) {

      .titulo {
          display: none;
      }
    .container {
      width: 100%;
    }

    .cajaImagen {
        width: 33%;
        height: 50vh;
    }

    .cajaNombre {
        position: absolute;
        top: auto;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;
        background-color: rgba(0, 0, 0,0.75);
        width: auto;
        /* height: fit-content; */
        text-align: center;
        margin: 0.25em;
        opacity: 1;
        
    }
    
    .nombreHeroe {
        color: white;
        font-size: 1.25em;
    }
  }
