@import url('https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Marvel', sans-serif;
}

body{
    background-color: #003049;
    margin: 0;
    padding: 0;
}
.container{
    width: 70%;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.titulo{
    /* width: 10%; */  
    margin: auto; 
    height: 10vh;
    display: flex;
    align-items:center;
    justify-content: space-between;
}
svg {
    height: 100%;
    padding: 0.25em;
    cursor: pointer;
}

.cajaImagen{
    width: 25%;
    padding: 0.25em;
    height: 30vh;
    position: relative;
    cursor: pointer;
}

.cajaNombre {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #003049;
    width: auto;
    height: auto;
    margin: 0.25em;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: .33s ease;
    
}
.cajaNombre:hover{
    opacity:1;
}

.nombreHeroe {
    color: white;
    font-size: 2em;
}


img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.inp{
    transition: all 0.3s ease;
    height: auto;
}

input[type=text]{
    font-size: 1rem;
    padding: .5em;
    color: white;
    background-color: #1D3557;
    border: 1px solid cadetblue;
    border-radius: 0.3em;
    display: block;
    
  }
  input[type=text]:focus{
    border: 1px solid rgb(150, 190, 207);
    box-shadow:none ;
    outline: none;
    width: 50%;
  }

  input[type=text]::placeholder{
      color: beige;
  }

  

  .btnTit {
    border: none;
    font-family: inherit;
    font-size: 1.5em;
    line-height: inherit;
    background: none;
    cursor: pointer;
    padding: .375rem .75rem;
    /* border: 1px solid cadetblue;
    border-radius: .25rem; */
    color: cadetblue;
    transition: color .15s ease-in-out,
    background-color .15s ease-in-out;
    margin: 0.5em;
    
}

.btnTit:hover {
    color: white;
    /* background-color: cadetblue; */
}

nav{
    margin-top: .5em;
    display: flex;
    justify-content: space-around;
    transition: all 0.3s ease;
    background-color: black;
    
}

.btnNav{
    width: 33%;
    padding: 1em;
    border: none;
    font-family: inherit;
    font-size: 1.2em;
    line-height: inherit;
    background: none;
    cursor: pointer;
    color: white;
    background-color:black;
    letter-spacing: 0.1em;
    font-weight: 700;
    z-index: 10;
}

.activo{
    color: #f0141e;
}

.noExiste{
text-align: center;
}

.noExiste p {
    padding: 1em;
    color: white;
    font-size: 1.5em;
}
.sobre{
    background-color: black;
    margin: 1em auto;
    width: 50%;
    padding: 2em;
    transition: all 0.5s ease;
}

.sobre h2 {
    font-size: 3em;
    margin: 0;
}
.sobre h3 {
    font-size: 2em;
}
.sobre h3, p, li, h2 {
    color: white;
    text-align: center;

}
.sobre li, p{
    list-style: none;
}

.sobre ul{
    padding-left: 0;
}

.tecnologias{
    padding: 1em;
    margin-top: 0.5em;
}

.tecnologias p {
    color: #f0141e;
    margin-bottom: 0.5em;
}

.tecnologias ul {

    margin-top: 0.5em;
}

.desarrolla{
    margin: .5em;
    margin-top: 1em;
    border: white solid 1px;
    background: linear-gradient(321deg, #000000, #8a8a8a, #000000);
    background-size: 600% 600%;
    animation: gradiente 10s ease infinite;
}

.desarrolla h3 {
    margin: 0.5em;
}

@keyframes gradiente {
    0%{background-position:0% 0%}
    50%{background-position:100% 100%}
    100%{background-position:0% 0%}
}

.spinner{
    margin:1em auto;
    width: 10%;
    border: 0.3em solid #8a8a8a;
    border-top-color: #f0141e;
    border-radius: 50%;
    animation: loading 1.7s ease infinite;
    transition: opacity 0.25s ease;
}
.spinner::after{
    content: '';
    display: block;
    padding-bottom: 100%;
}

@keyframes loading {
    0%{transform:rotate(0deg)}
    100%{transform: rotate(360deg);}
}

.oculta{
    height: 0;
    opacity: 0;
    padding: 0;
    margin: 0;
    border-width: 0;
}


@media only screen and (max-width: 1200px) {
    .container {
      width: 100%;
    }

    .cajaImagen {
        width: 33%;
    }
  }

@media only screen and (max-width: 600px) {
    .container {
      width: 100%;
    }

    .titulo{
        height: 7vh;
    }

    .cajaImagen {
        width: 50%;
    }

    .cajaNombre {
        position: absolute;
        top: auto;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;
        background-color: rgba(0, 0, 0,0.75);
        width: auto;
        /* height: fit-content; */
        text-align: center;
        margin: 0.25em;
        opacity: 1;
        
    }
    
    .nombreHeroe {
        color: white;
        font-size: 1em;
    }

    input[type="text"]{
        margin-left: 0.5em;
    }

    .btnNav{
        padding: 0.3em;
    }

    .sobre {
        width: 90%;
    }

    .sobre h2 {
        font-size: 2em;
        margin: 0;
    }
    .sobre h3 {
        font-size: 1.25em;
    }

    

  }

  @media (orientation:landscape) and (max-width: 900px) {

      .titulo {
          display: none;
      }
    .container {
      width: 100%;
    }

    .cajaImagen {
        width: 33%;
        height: 50vh;
    }

    .cajaNombre {
        position: absolute;
        top: auto;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;
        background-color: rgba(0, 0, 0,0.75);
        width: auto;
        /* height: fit-content; */
        text-align: center;
        margin: 0.25em;
        opacity: 1;
        
    }
    
    .nombreHeroe {
        color: white;
        font-size: 1.25em;
    }
  }
